body{
    background: rgb(15,20,19);
    background: linear-gradient(90deg, rgba(15,20,19,1) 0%, rgba(1,15,18,1) 45%, rgba(13,3,34,1) 100%);
    color: white;
}

h1{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-family:'Courier New', Courier, monospace;
}

.bodyApp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
