body{
    margin: 0;
}

.navb{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 2px 5px #007BFF;
}

.navb-design{
    margin-left: 1rem;
}

.navb-date{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navb-title{
    font-family: 'Courier New', Courier, monospace;
}