li{
    display: flex;
    margin: 50px;
    align-items: center;
    gap: 1rem;
    border: 2px solid;
    border-radius: 8px;
    border-color: #007BFF;
    padding: 8px;
    justify-content: center;
    margin-left: 10px;
}

.Icon{
    cursor: pointer;
}

.Icon-check{
    left: 12px;
}

.Icon-check:hover{
    color: rgb(62, 145, 62);
}

.Icon-check--active{
    color: rgb(0, 255, 0);
}

.Icon-delete{
    top: -24px;
    right: 0;
}

.Icon-delete:hover{
    color: red;
}

.TodoItem-p {
    font-size: 18px;
    line-height: 24px;
    position: relative;
}

.TodoItem-p--complete::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: rgb(43, 255, 0); /* Color de la línea */
    transform: translateY(-50%);
}
